/* styles.css */

body {
    font-family: Optima, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #361ECC, #BBE6E4, #42BFDD);
    background-repeat: no-repeat;
    color: #fff; /* white */
}
header {
    background-color: rgba(97, 150, 255, 0.6); /* federales blue */
    color: #fff;
    padding: 0px;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
aside {
    width: 20%;
    background-color: #D8A7CA; /* Ash Gray */
    padding: 20px;
}
main {
    width: 80%;
    padding: 20px;
    background-color: #192BC2; /* moreblue */
}
/* Adjustments for mobile responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    aside, main {
        width: 100%;
    }
}
