/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #31351b; /* Dark green */
    color: #ce7e00; /* Light orange */
}
header {
    background-color: #000033; /* Dark blue */
    color: #fff;
    padding: 20px;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
aside {
    width: 20%;
    background-color: #7d2610; /* Dark red */
    padding: 20px;
}
main {
    width: 80%;
    padding: 20px;
    background-color: #6e1c1e; /* Dark red */
}
/* Adjustments for mobile responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    aside, main {
        width: 100%;
    }
}
