/* styles.css */

body {
    font-family: Optima, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #08605F; /* caribbean current(darkgreenish) */
    color: #FCDDF2; /* pinkish */
}
header {
    background-color: #6C91BF; /* Silverlake blue */
    color: #fff;
    padding: 20px;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
aside {
    width: 20%;
    background-color: #C2CFB2; /* Ash Gray */
    padding: 20px;
}
main {
    width: 80%;
    padding: 20px;
    background-color: #B27C66; /* brownsugarohya */
}
/* Adjustments for mobile responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    aside, main {
        width: 100%;
    }
}
